# Detección del trastorno del espectro autista infantil mediante aprendizaje automático

Como en todas las enfermedades la deteccion temprana de estas es un punto muy importante, ya que con esto se pueden aplicar un tratamiento adecuado que ayude a mejorar al paciente en una etapa temprana.

En este proyecto nos enfocaremos en utilizar una tecnica de aprendizaje supervisado para diagnosticar el transtorno del espectro autista(TEA). Esto sera mediante una Red Neuronal utilizando Keras. EL dataset utilizado cuenta con 292 pacientes.

In [1]:
import sys
import pandas as pd
import numpy as np
import sklearn
import matplotlib
import keras

print ('Python: {}'.format(sys.version))
print ('Pandas: {}'.format(pd.__version__))
print ('Numpy: {}'.format(np.__version__))
print ('Sklearn: {}'.format(sklearn.__version__))
print ('Matplotlib: {}'.format(matplotlib.__version__))
print ('Keras: {}'.format(keras.__version__))

Using TensorFlow backend.
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Python: 3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]
Pandas: 1.0.0
Numpy: 1.18.2
Sklearn: 0.22.2.post1
Matplotlib: 3.1.2
Keras: 2.3.1

/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# Importacion del datastet

In [9]:
# import the dataset
file = 'Autism-Child-Data.txt'

# read the csv
data = pd.read_table(file, sep = ',', index_col = None)

# print the shape of the DataFrame, so we can see how many examples we have
print ('Shape of DataFrame: {}'.format(data.shape))
print (data.loc[0])

Shape of DataFrame: (292, 21)
A1_Score                      1
A2_Score                      1
A3_Score                      0
A4_Score                      0
A5_Score                      1
A6_Score                      1
A7_Score                      0
A8_Score                      1
A9_Score                      0
A10_Score                     0
age                           6
gender                        m
ethnicity                Others
jundice                      no
austim                       no
contry_of_res            Jordan
used_app_before              no
result                        5
age_desc           '4-11 years'
relation                 Parent
Class                        NO
Name: 0, dtype: object

In [10]:
# print out multiple patients at the same time
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES

In [11]:
# print out a description of the dataframe
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

# Preprocesamiento de datos

Debemos de excluir columnas que no seran necesarias para nuestro entrenamiento, convertiremos datos en etiquetas categoricas por ultimo quedaria dividir nuestro conjunto en entrenamiento y prueba.

In [12]:
# drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,Class
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent,NO
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?,NO
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?,NO
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent,YES
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?,NO
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent,YES
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent,YES
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent,YES
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?,NO
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self,YES

In [14]:
# create X and Y datasets for training
x = data.drop(['Class'], 1)
y = data['Class']
x.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self

In [15]:
# convert the data to categorical values - one-hot-encoded vectors
X = pd.get_dummies(x)
# print the new categorical column labels
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'austim_no', 'austim_yes', "contry_of_res_'Costa Rica'",
       "contry_of_res_'Isle of Man'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'South Africa'",
       "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [16]:
# print an example patient from the categorical data
X.loc[1]

A1_Score             1
A2_Score             1
A3_Score             0
A4_Score             0
A5_Score             1
                    ..
relation_?           0
relation_Parent      1
relation_Relative    0
relation_Self        0
relation_self        0
Name: 1, Length: 96, dtype: int64

In [17]:
# convert the class data to categorical values - one-hot-encoded vectors
Y = pd.get_dummies(y)
Y.iloc[:10]

   NO  YES
0   1    0
1   1    0
2   1    0
3   1    0
4   0    1
5   1    0
6   0    1
7   0    1
8   0    1
9   1    0

# Dividimos los datos para el entrenamiento

In [19]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

print (X_train.shape)
print (X_test.shape)
print (Y_train.shape)
print (Y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

# Construimos nuestra red neuronal mediante Keras

In [20]:
# build a neural network using Keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

# define a function to build the keras model
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=96, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(2, activation='sigmoid'))
    
    # compile model
    adam = Adam(lr=0.001)
    model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

model = create_model()

print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 8)                 776
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

# Entrenando la Red

In [21]:
# fit the model to the training data
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose = 1)

WARNING:tensorflow:From /home/echartea/python/entronoVirtual/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/echartea/python/entronoVirtual/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/50
233/233 [==============================] - 0s 863us/step - loss: 0.6928 - accuracy: 0.5494
Epoch 2/50
233/233 [==============================] - 0s 210us/step - loss: 0.6906 - accuracy: 0.7339
Epoch 3/50
233/233 [==============================] - 0s 230us/step - loss: 0.6864 - accuracy: 0.6567
Epoch 4/50
233/233 [==============================] - 0s 206us/step - loss: 0.6791 - accuracy: 0.8197
Epoch 5/50
233/233 [==============================] - 0s 211us/step - loss: 0.6662 - accuracy: 0.7597
Epoch 6/50
233/233 [==============================] - 0s 219us/step - loss: 0.6473 - accuracy: 0.7811
Epoch 7/50
233/233 [==============================] - 0s 197us/step - loss: 0.6183 - accuracy: 0.8069
Epoch 8/50
233/233 [==============================] - 0s 181us/step - loss: 0.5763 - accuracy: 0.8584
Epoch 9/50
233/233 [==============================] - 0s 179us/step - loss: 0.5279 - accuracy: 0.8369
Epoch 10/50
233/233 [==============================] - 0s 205us/step - loss: 0.4787 - accuracy: 0.8541
Epoch 11/50
233/233 [==============================] - 0s 177us/step - loss: 0.4327 - accuracy: 0.8970
Epoch 12/50
233/233 [==============================] - 0s 198us/step - loss: 0.3936 - accuracy: 0.9185
Epoch 13/50
233/233 [==============================] - 0s 199us/step - loss: 0.3561 - accuracy: 0.9185
Epoch 14/50
233/233 [==============================] - 0s 216us/step - loss: 0.3238 - accuracy: 0.9313
Epoch 15/50
233/233 [==============================] - 0s 218us/step - loss: 0.2929 - accuracy: 0.9399
Epoch 16/50
233/233 [==============================] - 0s 187us/step - loss: 0.2632 - accuracy: 0.9442
Epoch 17/50
233/233 [==============================] - 0s 221us/step - loss: 0.2385 - accuracy: 0.9614
Epoch 18/50
233/233 [==============================] - 0s 221us/step - loss: 0.2146 - accuracy: 0.9528
Epoch 19/50
233/233 [==============================] - 0s 204us/step - loss: 0.1912 - accuracy: 0.9657
Epoch 20/50
233/233 [==============================] - 0s 229us/step - loss: 0.1746 - accuracy: 0.9742
Epoch 21/50
233/233 [==============================] - 0s 216us/step - loss: 0.1554 - accuracy: 0.9828
Epoch 22/50
233/233 [==============================] - 0s 205us/step - loss: 0.1453 - accuracy: 0.9700
Epoch 23/50
233/233 [==============================] - 0s 226us/step - loss: 0.1276 - accuracy: 0.9828
Epoch 24/50
233/233 [==============================] - 0s 197us/step - loss: 0.1148 - accuracy: 0.9871
Epoch 25/50
233/233 [==============================] - 0s 205us/step - loss: 0.1046 - accuracy: 0.9871
Epoch 26/50
233/233 [==============================] - 0s 217us/step - loss: 0.0975 - accuracy: 0.9871
Epoch 27/50
233/233 [==============================] - 0s 182us/step - loss: 0.0861 - accuracy: 0.9957
Epoch 28/50
233/233 [==============================] - 0s 170us/step - loss: 0.0788 - accuracy: 1.0000
Epoch 29/50
233/233 [==============================] - 0s 199us/step - loss: 0.0738 - accuracy: 0.9957
Epoch 30/50
233/233 [==============================] - 0s 218us/step - loss: 0.0670 - accuracy: 0.9957
Epoch 31/50
233/233 [==============================] - 0s 190us/step - loss: 0.0625 - accuracy: 1.0000
Epoch 32/50
233/233 [==============================] - 0s 198us/step - loss: 0.0580 - accuracy: 0.9957
Epoch 33/50
233/233 [==============================] - 0s 259us/step - loss: 0.0531 - accuracy: 0.9957
Epoch 34/50
233/233 [==============================] - 0s 210us/step - loss: 0.0483 - accuracy: 0.9957
Epoch 35/50
233/233 [==============================] - 0s 198us/step - loss: 0.0440 - accuracy: 1.0000
Epoch 36/50
233/233 [==============================] - 0s 219us/step - loss: 0.0415 - accuracy: 1.0000
Epoch 37/50
233/233 [==============================] - 0s 197us/step - loss: 0.0398 - accuracy: 1.0000
Epoch 38/50
233/233 [==============================] - 0s 253us/step - loss: 0.0360 - accuracy: 1.0000
Epoch 39/50
233/233 [==============================] - 0s 173us/step - loss: 0.0337 - accuracy: 1.0000
Epoch 40/50
233/233 [==============================] - 0s 193us/step - loss: 0.0333 - accuracy: 1.0000
Epoch 41/50
233/233 [==============================] - 0s 175us/step - loss: 0.0298 - accuracy: 1.0000
Epoch 42/50
233/233 [==============================] - 0s 226us/step - loss: 0.0287 - accuracy: 1.0000
Epoch 43/50
233/233 [==============================] - 0s 239us/step - loss: 0.0274 - accuracy: 1.0000
Epoch 44/50
233/233 [==============================] - 0s 173us/step - loss: 0.0252 - accuracy: 1.0000
Epoch 45/50
233/233 [==============================] - 0s 198us/step - loss: 0.0241 - accuracy: 1.0000
Epoch 46/50
233/233 [==============================] - 0s 215us/step - loss: 0.0233 - accuracy: 1.0000
Epoch 47/50
233/233 [==============================] - 0s 210us/step - loss: 0.0217 - accuracy: 1.0000
Epoch 48/50
233/233 [==============================] - 0s 259us/step - loss: 0.0210 - accuracy: 1.0000
Epoch 49/50
233/233 [==============================] - 0s 200us/step - loss: 0.0199 - accuracy: 1.0000
Epoch 50/50
233/233 [==============================] - 0s 217us/step - loss: 0.0206 - accuracy: 1.0000

# Testing and Performance Metrices

El modelo debe de ser capaz de generalizar los datos.

In [24]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score
predictions = model.predict_classes(X_test)
predictions

array([1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1])

In [25]:
print('Results for Categorical Model')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Results for Categorical Model
0.9152542372881356
              precision    recall  f1-score   support

           0       0.90      0.93      0.91        28
           1       0.93      0.90      0.92        31

    accuracy                           0.92        59
   macro avg       0.91      0.92      0.92        59
weighted avg       0.92      0.92      0.92        59